<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.malusoft.admin_meli_app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:usesCleartextTraffic="true">
        <!-- possibly other elements -->
    </application>
</manifest>
